<h1><%= @user.name %> is going to:</h1>
<% user.attended_events.upcoming.each do |event| %>
  <p><%= event.name %></p>
<% end %>

<h1><%= @user.name %> went to:</h1>
<% @user.attended_events.past.each do |event| %>
  <p><%= event.name %></p>
<% end %>