<h1><%= @event.name %></h1>
<h2>hosted by <%= @event.creator.name %> on <%= @event.event_date.to_s(:long) %>.</h2>
Attendees:
<% @event.attendees.all.each do |attendee| %>
<p><%= attendee.name %></p>
<% end %>
